@charset "UTF-8";
@import url('~@/assets/fonts/pretendard/pretendard-subset.css');

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    font-family: Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
    -webkit-tap-highlight-color : transparent;
}
button{
    color: var(--text-color);
}

*,
*:active,
*:hover {
    outline: none !important;
}

body {
    color: var(--text-color);
    font-size: var(--font-size-p);
    letter-spacing: var(--font-size-p-space);
    font-weight: var(--font-weight-base);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

  ul,
  li {
      list-style: none;
      margin: 0;
      padding: 0;
  }