.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capital {
    text-transform: capitalize;
}

.pre-line {
    white-space: pre-line;
}

.text-underline {
    text-decoration: underline;
}

.text-bold {
    font-weight: var(--font-weight-bold);
}

.text-medium {
    font-weight: var(--font-weight-medium);
}

.text-light {
    font-weight: var(--font-weight-light);
}


h1{
    font-size: var(--font-size-h-1);
    letter-spacing: var(--font-size-h-1-space);

    @include breakpoint-down-sm{
        font-size: var(--m-font-size-h-1);
        letter-spacing: var(--m-font-size-h-1-space);
    }
}

h2 {
    font-size: var(--font-size-h-2);
    letter-spacing: var(--font-size-h-2-space);

    @include breakpoint-down-sm {
        font-size: var(--m-font-size-h-2);
        letter-spacing: var(--m-font-size-h-2-space);
    }
}

.paragraph-1{
    font-size: var(--font-size-p);
    letter-spacing: var(--font-size-p-space);

    @include breakpoint-down-sm {
        font-size: var(--m-font-size-p);
        letter-spacing: var(--m-font-size-p-space);
    }
}
.paragraph-2 {
    font-size: var(--font-size-p-2);
    letter-spacing: var(--font-size-p-2-space);

    @include breakpoint-down-sm {
        font-size: var(--m-font-size-p-2);
        letter-spacing: var(--m-font-size-p-2-space);
    }
}

.paragraph-3 {
    font-size: var(--font-size-p-3);
    letter-spacing: var(--font-size-p-3-space);

    @include breakpoint-down-sm {
        font-size: var(--m-font-size-p-3);
        letter-spacing: var(--m-font-size-p-3-space);
    }
}

.text-caption {
    font-size: var(--font-size-caption);
    letter-spacing: var(--font-size-caption-space);

    @include breakpoint-down-sm {
        font-size: var(--m-font-size-caption);
        letter-spacing: var(--m-font-size-caption-space);
    }
}

.md-up-only {
    display: none;

    @include breakpoint-up-md {
        display: block;
    }
}

.md-down-only {
    display: none;

    @include breakpoint-down-sm {
        display: block;
    }
}