:root {
  // Colors
  --primary-color: #365650;
  --primary-color-1: #365650;
  --primary-color-2: #417a75;
  --primary-color-3: #478e8a;
  --primary-color-4: #52b3b2;

  --secondray-color: #af6142;
  --secondray-color-1: #af6142;
  --secondray-color-2: #c9704c;
  --secondray-color-3: #e27d55;
  --secondray-color-4: #e69f85;

  --secondary-green-color: #599270;
  --secondary-green-color-1: #599270;
  --secondary-green-color-2: #48b57a;
  --secondary-green-color-3: #f4f8f1;

  // Screen break-point

  --screen-xs: 360px;
  --screen-md: 768px;
  --screen-lg: 1040px;

  --text-color: #444444;
  --text-color-1: #444444;
  --text-color-2: #666666;
  --text-color-3: #969696;
  --text-color-4: #bababa;

  --background-color: #dddddd;
  --background-color-1: #dddddd;
  --background-color-2: #e5e5e5;
  --background-color-3: #ededed;
  --background-color-4: #f3f3f3;
  --background-color-5: #f8f8f8;

  --font-weight-head: 700;
  --font-weight-base: 500;
  --font-weight-bold: bold;
  --font-weight-medium: 500;
  --font-weight-light: 300;
  --font-weight-normal: normal;

  // PC font size
  // Headline
  --font-size-h-1: 32px;
  --font-size-h-1-space: -0.0025em;
  --font-size-h-2: 24px;
  --font-size-h-2-space: -0.01em;

  // Paragraph
  --font-size-p: 18px;
  --font-size-p-space: -0.01em;
  --font-size-p-2: 16px;
  --font-size-p-2-space: -0.01em;
  --font-size-p-3: 15px;
  --font-size-p-3-space: -0.01em;
  --font-size-caption: 14px;
  --font-size-caption-space: -0.01em;

  // Mobile font size
  // Headline
  --m-font-size-h-1: 26px;
  --m-font-size-h-1-space: -0.0025em;
  --m-font-size-h-2: 18px;
  --m-font-size-h-2-space: -0.01em;

  // Paragraph
  --m-font-size-p: 16px;
  --m-font-size-p-space: -0.01em;
  --m-font-size-p-2: 14px;
  --m-font-size-p-2-space: -0.01em;
  --m-font-size-p-3: 13px;
  --m-font-size-p-3-space: -0.01em;
  --m-font-size-caption: 12px;
  --m-font-size-caption-space: -0.01em;

  --content-container-max-width: 1040px;
  --content-container-padding: 40px;
  --content-container-inner: 960px;

  --m-content-container-max-width: 360px;
  --m-content-container-padding: 20px;
  --m-content-container-inner: 360px;

  --topper-header-height: 100px;
  --bottom-footer-height: 180px;
  @include breakpoint-down-sm {
    --topper-header-height: 60px;
    --bottom-footer-height: 220px;
  }

  // snackbar
  --snackbar-padding: 15px 40px 14px 40px;
  --snackbor-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.07);
}
